<h2 class="center">Login To Your Folio</h2>

<div class="row center">

  <%= form_for :session, url: login_path, class: "col s12" do |f| %>
    <div class="input-field col s12">
      <i class="material-icons prefix">email</i>
      <%= f.email_field :email, placeholder: "Email", id: "icon-prefix" %>
    </div>

    <div class="input-field col s12">
      <i class="material-icons prefix">lock</i>
      <%= f.password_field :password, placeholder: "Password", id: "icon-prefix" %>
    </div>

    <div class="row center">
      <%= f.submit "Start Sharing", class: "btn" %>
      <%= link_to "Forgot Password", password_path %>
    </div>
  <% end %>
</div>
