<h1><%= @current_folder.name %></h1>

<table>
  <tr>
    <td>
      <%= link_to "Create New Folder", new_folder_path(@current_folder), class: "btn" %>
    </td>
    <td>
      <%= render partial: "shared/upload_form" %>
    </td>
    <td>
      <%= link_to "Download", folder_download_path(@current_folder), class: "btn" %>
    </td>
  </tr>
</table>
<br>
<%= render partial: "shared/breadcrumbs" %>
<br>
<%= render partial: "shared/data_table" %>