<h1><%= current_folder.name %></h1>

<table>
  <tr>
    <td>
      <%= link_to "Create New Folder", new_folder_path(current_folder), class: "btn" %>
    </td>
    <td>
      <%= render partial: "shared/upload_form" %>
    </td>
    <td>
      <%= link_to "Share #{current_folder.name}", folder_share_path(current_folder), method: :get, class: "btn" %>
    </td>
  </tr>
</table>
<br>
<div class="breadcrumb_folio">
  <%= render partial: "shared/breadcrumbs" %>
</div>
<div class="download_folio_icon">
  <%= link_to folder_download_path(current_folder) do %><span><i class="material-icons">file_download</i></span><% end %>
</div>
<br>
<%= render partial: "shared/owned_table" %>
