<h1>Update</h1>

<%= form_for @user do |f| %>
  <%= f.text_field :first_name, placeholder: "First Name" %>
  <%= f.text_field :last_name, placeholder: "Last Name" %>
  <%= f.text_field :email, placeholder: "Email" %>
  <%= f.text_field :cellphone, placeholder: "Cell Phone Number" %>

  <%= f.text_field :password, placeholder: "Password"%>
  <%= f.text_field :password_confirmation, placeholder: "Password Confirmation" %>

  <%= f.submit "Update Account"%>

<% end %>
