<div class="container">
  <div class="finder">
    <div class="breadcrumbs">
      <h4><%= current_user.full_name %>'s Folio <i class="material-icons">keyboard_arrow_right</i></h4>
    </div>

    <%= link_to "Create New Folder", new_folder_path, class: "btn btn-create right" %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Owner</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% current_folder.children.each do |child| %>
            <td>
              <%= link_to child.name, child.class == Upload ? upload_path(child) : folder_path(child) %>
            </td>
            <td>
              <%= child.size %>
            </td>
            <td>
              <%= child.content_type %>
            </td>
          </tr>
            <% end %>
      </tbody>
    </table>

    <%= form_for @file, {class: "file-field input-field"} do |f| %>
      <%= f.file_field :file %>
      <div class="file-path-wrapper">
      </div>
      <%= f.submit "Upload File", {class: "btn-upload"} %>
    <% end %>

  </div>
</div>
