<h1><%= @user.first_name %>'s Folio</h1>

<%= link_to "Create New Folder", new_folder_path, class: "btn" %>

<div class="breadcrumbs">
  <h3><%= @user.root_folder.name %></h3>
</div>

<ul>
<% @user.uploads.each do |upload| %>
  <li><%= upload.file_file_name %></li>
<% end %>
</ul>

<%= form_for @file do |f| %>
  <%= f.file_field :file %>
  <%= f.text_field :folder_id, value: "#{@user.root_folder.id}", type: :hidden %>

  <%= f.submit "Upload File" %>
<% end %>


<%= link_to "Logout", logout_path, method: "delete", class: "btn" %>
<%= link_to "Edit Account Details", edit_user_path(current_user), class: "btn" %>
