<table class="responsive-table bordered highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>File Size</th>
      <th>File Type</th>
      <th>Share</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @current_folder.children.each do |child| %>
        <td>
          <%= link_to child.name, child.class == Upload ? upload_path(child) : folder_path(child) %>
        </td>
        <td>
          <%= child.size %>
        </td>
        <td>
          <%= child.content_type %>
        </td>
        <td>
          <% if child.class == Folder %>
            <%= link_to "Share Folder", folder_share_path(child), class: "btn"%>
          <% end %>
        </td>
        <td>
          <% if child.class == Upload %>
            <%= link_to "Delete", upload_path(child), method: :delete, class: "btn btn-upload-delete"%>
          <% else %>
          <%= link_to "Delete", delete_folder_path(child), method: :delete, class: "btn btn-folder-delete"%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
