<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      File Size
    </th>
    <th>
      File Type
    </th>
    <th>
      Privacy Status
    </th>
    <th>
    </th>
  </tr>
  <tr>
    <% @current_folder.children.each do |child| %>
      <td>
        <%= link_to child.name, child.class == Upload ? upload_path(child) : folder_path(child) %>
      </td>
      <td>
        <%= child.size %>
      </td>
      <td>
        <%= child.content_type %>
      </td>
      <td>
        <%= child.display_privacy %>
      </td>
      <td>
        <% if child.class == Upload %>
          <%= link_to "Make #{child.opposite_privacy}", upload_path(@current_folder, child), method: :put, class: "btn"  %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>