<table class="responsive-table bordered highlight table_center">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>File Size</th>
      <th>File Type</th>
      <th>Share</th>
      <th>Privacy Status</th>
      <th></th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% current_folder.children.each do |child| %>
      <tr id=<%= child.row_id %>>
        <td>
          <% if child.class == Upload %>
            <i class="material-icons">description</i>
          <% elsif child.collaborations.count > 0 %>
            <i class="material-icons">folder_shared</i>
          <% else %>
            <i class="material-icons">folder</i>
          <% end %>
        </td>
        <td>
          <%= link_to child.name, folder_or_upload_path(child) %>
        </td>
        <td>
          <%= number_to_human_size(child.size) %>
        </td>
        <td>
          <%= child.content_type %>
        </td>
        <td>
          <% if child.class == Folder %>
            <%= button_to "Share Folder", folder_share_path(child) %>
          <% end %>
        </td>
        <td>
          <% if child.display_privacy == "Private" %>
            <i class="material-icons private-icon">visibility_off</i>
          <% else %>
            <i class="material-icons public-icon">visibility</i>
          <% end %>
        </td>
        <td>
          <%= button_to "Make #{child.opposite_privacy}", folder_or_upload_path(child), class: child.privacy_button, method: :put %>
        </td>
        <td>
          <i class="material-icons">delete</i>
          <%= button_to "Delete", folder_or_upload_path(child), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
