<table class="responsive-table bordered highlight">
  <thead>
    <tr>
      <th class="table_header_center"></th>
      <th class="table_header_center">Name</th>
      <th class="table_header_center">File Size</th>
      <th class="table_header_center">File Type</th>
      <th class="table_header_center">Share</th>
      <th class="table_header_center">Privacy Status</th>
      <th class="table_header_center"></th>
      <th class="table_header_center">Delete</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% current_folder.children.each do |child| %>
        <td class="table_data_center">
          <% if child.class == Upload %>
            <i class="material-icons">description</i>
          <% elsif child.collaborations.count > 0 %>
            <i class="material-icons">folder_shared</i>
          <% else %>
            <i class="material-icons">folder</i>
          <% end %>
        </td>
        <td class="table_data_center">
          <%= link_to child.name, folder_or_upload_path(child) %>
        </td>
        <td class="table_data_center">
          <%= number_to_human_size(child.size) %>
        </td>
        <td class="table_data_center">
          <%= child.content_type %>
        </td>
        <td class="table_data_center">
          <% if child.class == Folder %>
            <%= link_to "Share Folder", folder_share_path(child) %>

          <% end %>
        </td>
        <td class="table_data_center">
          <% if child.display_privacy == "Private" %>
            <i class="material-icons">visibility_off</i>
          <% else %>
            <i class="material-icons">visibility</i>
          <% end %>
        </td>
        <td class="table_data_center">
            <%= button_to "Make #{child.opposite_privacy}", folder_or_upload_path(child), method: :put%>

        </td>
        <td class="table_data_center">
          <i class="material-icons">delete</i>
          <%= button_to "Delete", folder_or_upload_path(child), method: :delete%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
