<div class="navbar-fixed">
    <nav>
      <div class="container">
        <div class="nav-wrapper">
          <%= link_to "Folio Share", folio_path, class: "brand-logo" %>
         <ul class="right">
          <li><%= link_to "Public Files", public_path%></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1" data-beloworigin="true"><%= current_user.full_name %><i class="material-icons right">arrow_drop_down</i></a></li>
          <li><%= link_to "Logout", logout_path, method: "delete" %></li>
        </ul>
      </div>
     </div>
    </nav>
  </div>

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to "Account Details", user_path(current_user) %></li>
    <li><%= link_to "Edit Account", edit_user_path(current_user) %></li>
    <%if current_user.admin?%>
      <li><%= link_to "Admin Dashboard", admin_dashboard_path %></li>
    <% end %>
  </ul>
