<div class="container" id="password">
  <h4 align="center">Reset Password</h4>
    <div class="row">
      <div class="input-field col s6" id="email_password">
        <%= form_tag({controller: "passwords", action: "update"}, :method => :put) do %>
          <%= text_field_tag :reset_token, params[:reset_token], placeholder: "reset code" %>
          <%= email_field_tag :email, params[:email], placeholder: "email" %>
          <%= password_field_tag :password, nil, placeholder: "new password" %>
          <%= password_field_tag :password_confirmation, nil, placeholder: "confirm password" %>
          <%= submit_tag "Reset Password" %>
        <% end %>
      </div>
    </div>
   </div>