<h1>Uploads#show</h1>

<p><%= @upload.name %></p>

<p><%= @upload.size %></p>

<p><%= @upload.content_type %></p>

<%= render partial: "comments/form" %>
<div class="comments">
  <h3>Comments (<%= @upload.comments.size %>)</h3>
  <% @upload.comments.each do |comment| %>
    <%= comment.content %>
  </br>
  <% end %>
</div>
