<h3><%= @upload.folder.name %>'s  <strong><%= @upload.name %></strong></h3>

<div class="file_content">
  <hr>
  <p>File name:  <strong><%= @upload.name %></strong></p>
  <hr>
  <p>File Size:  <strong><%= number_to_human_size(@upload.size) %></strong></p>
  <hr>
  <p>File type:  <strong><%= @upload.content_type %></strong></p>
  <hr>
  <p><%= link_to "Download", upload_download_path(@upload), class: "btn" %>
    <% if current_user == @upload.owner %>
      <%= link_to "Delete File", upload_path(@upload), method: :delete, class: "btn"%></p>
    <% end %>
</div>

<%= render partial: "shared/comments_section" %>
