<h2>Folders</h2>
<table>
  <tr>
    <th>
      Folder Name
    </th>
    <th>
      Folder Owner
    </th>
  </tr>
  <% @folders.each do |folder| %>
    <tr>
    <% if folder.user_activated?%>
      <td>
        <%= link_to folder.name, public_folder_path(folder) %>
      </td>
      <td>
        <%= folder.user.full_name %>
      </td>
      <% else %>
      <% end %>
    </tr>
  <% end %>
</table>
<br><br>
<h2>Files</h2>
<table>
  <tr>
    <th>
      File Name
    </th>
    <th>
      File Owner
    </th>
    <th>
      File Size
    </th>
    <th>
      File Type
    </th>
  </tr>
  <% @uploads.each do |upload| %>
    <tr>
      <% if upload.user_activated?%>
      <td>
        <%= link_to upload.name, public_upload_path(upload) %>
      </td>
      <td>
        <%= upload.user.full_name %>
      </td>
      <td>
        <%= upload.size %>
      </td>
      <td>
        <%= upload.content_type %>
      </td>
      <% else%>
      <% end %>
    </tr>
  <% end %>
</table>