<div id="public-folders">
  <h2>Folders</h2>
  <table>
    <tr>
      <th>
        Folder Name
      </th>
      <th>
        Folder Owner
      </th>
    </tr>
    <% if folder.user_activated?%>
      <tr>
        <td>
          <%= link_to folder.name, public_folder_path(folder) %>
        </td>
        <td>
          <%= folder.user.full_name %>
        </td>
      </tr>
    <% end %>
  </table>
  </div>
<br><br>
<div id="public-files">
  <h2>Files</h2>
  <table>
    <tr>
      <th>
        File Name
      </th>
      <th>
        File Owner
      </th>
      <th>
        File Size
      </th>
      <th>
        File Type
      </th>
    </tr>
    <% if upload.user_activated?%>
      <tr>
        <td>
          <%= link_to upload.name, public_upload_path(upload) %>
        </td>
        <td>
          <%= upload.user.username %>
        </td>
        <td>
          <%= upload.size %>
        </td>
        <td>
          <%= upload.content_type %>
        </td>
      </tr>
    <% end %>
  </table>
</div>