<!DOCTYPE html>
<html>
  <head>
    <title>FolioShare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div style='text-align:center'>
      <% flash.each do |type, message| %>
          <% if type == "success" %>
          <%= content_tag :div, sanitize(message), class:"alert-success" %>
          <% elsif type == "danger" %>
          <%= content_tag :div, sanitize(message), class:"alert-danger" %>
          <% else %>
          <%= content_tag :div, sanitize(message), class:"type" %>
          <% end %>
      <% end %>
  </div>

    <%= yield %>
  </body>
</html>
