<!DOCTYPE html>
<html>
  <head>
    <title>FolioShare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <% if current_user %>
      <%= render partial: "shared/user_nav" %>
    <% else %>
      <%= render partial: "shared/guest_nav" %>
    <% end %>
        <div style='text-align:center'>
      <% flash.each do |type, message| %>
        <%= content_tag :div, sanitize(message), class:"alert-#{type}" %>
      <% end %>
    </div>
    <div class="container">
      <%=  yield %>
    </div>
    <script>
    $(document).ready(function(){
      $('.parallax').parallax();
      $(".dropdown-button").dropdown();
    });
    </script>
  </body>
</html>
